
#top {
    background-color: #036fab;   
    height: 105px;
    width: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    float: bottom;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 15px;
    width: 180px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 180px;
}

.center_content {
    position: absolute;
    background-color: white;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    margin-top: 110px;
    padding: 15px;
    margin-left: 230px;
}

.right_content {
    background-color: #dddddd;
    padding: 15px;
    margin: 50px 170px 50px 170px;
}

#divSesionUsuario{
    position: fixed;
    right: 10px;
    top: 20px;
}

#divSesionUsuario > span{
    color:white;
}




